<?php
$id = $this->getFlowbox();
$sku = null;
$isProductFeedsEnabled = $this->isProductFeedsEnabled();
$isProductFlow = $block->getData('is_product_flow');
if ($isProductFeedsEnabled) {
    $product = $this->getProduct();

    if ($product) {
        $sku = $product->getSku();
        $id = $this->getProductFeedId();
    }
}?>
<script>
    (function(d, id) {
        if (!window.flowbox) { var f = function () { f.q.push(arguments); }; f.q = []; window.flowbox = f; }
        if (d.getElementById(id)) {return;}
        var s = d.createElement('script'), fjs = d.scripts[d.scripts.length - 1]; s.id = id; s.async = true;
        s.src = ' https://connect.getflowbox.com/flowbox.js';
        fjs.parentNode.insertBefore(s, fjs);
    })(document, 'flowbox-js-embed');
</script>
<?php

if ($isProductFlow && $sku && $isProductFeedsEnabled) :
    ?>
<div id="js-flowbox-flow"></div>
<script async>
    window.flowbox('init', {
        container: '#js-flowbox-flow',
        key: '<?= $id ?>',
        productId: '<?= $sku ?>',
        locale: 'sv-SE'
    })
</script>
<?php
endif;

if ((!$isProductFlow && !$sku) || !$isProductFeedsEnabled && !$isProductFlow) :
?>
<div id="js-flowbox-flow"></div>
<script async>
    window.flowbox('init', {
        container: '#js-flowbox-flow',
        key: '<?= $id ?>',
        locale: 'sv-SE'
    })
</script><?php endif; ?>
